body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0,0, 0.2);
    box-sizing: border-box;
    flex-direction: column;
}

#gameboard{
    padding: 0;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    border: solid 1px gray;
}

.square{
    width: 100px;
    height: 100px;
    border: solid 1px gray;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    width: 80px;
    height: 80px;
    border: solid red 10px;
    border-radius: 50%;
    box-sizing: border-box;
}

.cross{
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    position: relative;
}

.cross::before{
    content: "";
    background-color: blue;
    width: 20px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 38%;
}

.cross::after{
    content: "";
    background-color: blue;
    width: 80px;
    height: 20px;
    position: absolute;
    top: 38%;
    left: 0;
}